/* Start Variables */
:root {
    --main-trans: 0.3s;
    /* Primary Colors */
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%); /* (graphic design text) */
    --Dark-blue: hsl(198, 62%, 26%); /* (photography text) */
    --Dark-moderate-cyan: hsl(168, 34%, 41%); /*  (footer) */

    /* Neutral Colors */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
/* End Variables */



/* Start Font Families */
/* Barlow Font Family */
.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semibold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

/* Fraunces Font Family */
.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* Font Weights Used are 700 and 900 */
}
/* End Font Families */



/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* End Global Rules */


/* Start Local Rules */
.home {
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    min-height: 100dvh;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav a {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 50px;
    transition: var(--main-trans);
    background-color: transparent;
}

header .container nav a:hover {
    color: black;
    background-color: white;
}

header .container nav i {
    color: white;
    font-size: 22px;
    display: none;
}

header h1 {
    margin: 0;
    color: white;
    letter-spacing: 2px;
    padding: 30px 0;
}

header + h1 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 60px;
    letter-spacing: 10px;
    margin-top: 100px;
}

header + h1 + a i {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: white;
    font-size: 60px;
    cursor: pointer;
    animation: arrow 1s linear infinite;
}

@keyframes arrow {
    0%, 100% {
        margin-top: 0;
    }

    50% {
        margin-top: 10px;
    }
}
/* End Local Rules */



/* Start Media Queries */
/* Start Custom */
@media (width <= 769px) {
    header .container nav a {
        display: none;
    }

    header .container nav i {
        display: block;
    }

    .home {
        background-image: url(../images/mobile/image-header.jpg);
    }

    header + h1 {
        text-align: center;
        font-size: 40px;
    }
}
/* End Custom */
/* Container Media */
/* Small */
@media (min-width: 769px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Media Queries */